.fourthInfo {
    height: calc(100vh - 65px);
    background-size: contain;
    /*border-top: solid black 2px;*/
    position: relative;
    overflow: hidden;
}

.sky {
    top: 0;
    width: 100vw;
    height: 5vh;
    background: red;
    position: absolute;
    visibility: hidden;
}

.tree {
    left: 0;
    top: 0;
    width: 30vw;
    height: 10vh;
    background: blue;
    position: absolute;
    visibility: hidden;
}

.container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: inherit;
    padding: 0;
}

.snowflake0 {
    background: url("../images/Snowflake0.png") no-repeat;
    position: absolute;
    width: 10px;
    height: 10px;
    background-size: contain;
    z-index: -500;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.rightFourth, .leftFourth {
    width: 35vw;
    height: 30vh;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
}

.rightFourth {
    float: right;
    margin-top: 10vh;
    margin-right: 5vw;
}

.leftFourth {
    margin-top: 50vh;
    float: left;
    margin-left: 5vw;
    position: absolute;
    bottom: 10vh;
}

.leaf1Red {
    background: url("../images/leaf1Red.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf1Yellow {
    background: url("../images/leaf1Yellow.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf1Blue {
    background: url("../images/leaf1Blue.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf1Green {
    background: url("../images/leaf1Green.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}


.leaf0Red {
    background: url("../images/leaf0Red.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf0Yellow {
    background: url("../images/leaf0Yellow.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf0Blue {
    background: url("../images/leaf0Blue.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf0Green {
    background: url("../images/leaf0Green.png") no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -500;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.leaf0Blue, .leaf0Green, .leaf0Red, .leaf0Yellow, .leaf1Blue, .leaf1Green, .leaf1Red, .leaf1Yellow {
    opacity: 0.5;
}

.contactHeader {
    margin-left: 19vw;
    margin-top: 10vh;
    float: left;
    width: 16vw;
    font-weight: bold;
    font-family: "Georgia";
    font-size: 3vw;
    background: rgba(255, 255, 255, 0.7);
    user-select: none;
}
