.secondInfo {
    height: calc(100vh - 65px);
    width: 100vw;
    /*overflow: hidden;*/
    position: relative;
    /*border-top: solid black 2px;*/
}

.boxDate {
    height: 50px;
}

.boxTitle {

}

.boxDesc{

}

.boxPic {

}

.leftCard, .rightCard {
    /*border: 2px solid #666;*/
    background: white;
    /*background: linear-gradient(35deg, #CCFFFF, #FFCCCC);*/
    position: absolute;
    transform-origin: 50% 50%;
}

.leftCard {
    transform: rotate(45deg);
    box-shadow: -3px 3px 15px 0 rgba(0,0,0,.5);
}

.rightCard {
    transform: rotate(-45deg);
    box-shadow: 3px 3px 15px 0 rgba(0,0,0,.5);
}

.experienceHeader {
    margin-left: 39vw;
    float: left;
    width: 22vw;
    font-weight: bold;
    font-family: "Georgia";
    font-size: 3vw;
    background: rgba(255, 255, 255, 0.7);
    user-select: none
}