body {
    /*background: url(../images/bkgd2.png) no-repeat fixed;*/
    background-size: 100% 100%;
}

::-webkit-scrollbar
{
    width: 0.5vw;  /* for vertical scrollbars */
    height: 0.5vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.welcome {
    background: white;
    color: black;
    padding-top: 40vh;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}

.welcomeName {
    display: none;
    font-size: 350%
}

.welcomeFlair {
    color: darkgrey;
    display: none;
    font-size: 100%;
}

.welcome, .all, .not {
    display: none;
    z-index: 9001;
}