.welcome {
    background: white;
    color: black;
    padding-top: 40vh;
    font-weight: bold;
}

.welcomeName {
    display: none;
    font-size: 350%
}

.welcomeFlair {
    color: darkgrey;
    display: none;
    font-size: 100%;
}

.welcome, .home, .not {
    display: none;
}

.home {
    background: steelblue;
    width: 100vw;
    height: 100vh;
}