.thirdInfo {
    overflow: hidden;
    width: inherit;
    /*border-top: solid black 2px;*/
    position: relative;
}

#thirdBack {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: calc(100vh - 65px);
}

.square1 {
    position: absolute;
    bottom: 0;
    width: 8vw;
    height: 8vw;
    background: white;
    border: solid black 2px;
}

.testSq {
    position: absolute;
    bottom: 0;
    width: 2vw;
    height: 2vw;
}

.thirdRight, .thirdLeft {
    width: 30vw;
    /*height: 70vh;*/
    background: white;
    z-index: 1;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    padding: 4vh 3vw;
}

.thirdRight {
    margin-right: 10vw;
    margin-left: 60vw;
}

.thirdLeft {
    margin-left: 10vw;
    margin-bottom: 10vh;
}

.aboutHeader {
    margin-left: 22vw;
    margin-top: 10vh;
    float: left;
    width: 12vw;
    font-weight: bold;
    font-family: "Georgia";
    font-size: 3vw;
    background: rgba(255, 255, 255, 0.7);
    user-select: none
}